<h3>{{ _('Illumination Control') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Default Value') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="attr: { title: defaultTitle }, value: settings.plugins.lightslider.defaultIntensity">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('The default value the slider will be set to when opening OctoPrint\'s UI') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('PWM Clock') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="1" max="100" class="input-mini" data-bind="attr: { title: clockTitle }, value: settings.plugins.lightslider.pwmClock">
                    <span class="add-on">Div</span>
                </div>
                <span class="help-block">{{ _('This is a divider used for generating the pwm switching frequency. For more details about how wiringPi is generating the pwm signal please read their documentation. At this point, for simplicity you should know that the frequency is calculated with the formula 19200000/100/pwm_clock. You should increase the frequency if you encounter a visible flickering when dimming your lightsource.') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"for="pwm_pin">RPi GPIO PWM PIN</label>
            <div class="controls">
                <select id="pwm_pin" data-bind="attr: { title: pinTitle }, value: settings.plugins.lightslider.pwmPin">
                    <option value="12">BCM Pin 12</option>
                    <option value="13">BCM Pin 13</option>
                    <option value="18">BCM Pin 18</option>
                    <option value="19">BCM Pin 19</option>
                </select>
                <span class="help-block">{{ _('General Purpose Input Output pin on the Raspberry Pi you want to use to control your mosfet with. For higher accuracy the wiringPi library is used (as it can use the hw pwm of the ports 12/13/18/19). When using the standard software pwm you can encounter an undesirable flickering.') }}</span>
            </div>
        </div>
        <p><i>{{ _('NOTE: When choosing, keep in mind that you can only use Pins that are available on your PI hardware (older PI\'s only have a 26pin GPIO)...') }}</i></p>
        <!--<strong>{{ _('The settings below can be used to limit the light output.') }}</strong>-->
        <div class="control-group">
            <label class="control-label">{{ _('Minimum Brightness') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="attr: { title: minTitle }, value: settings.plugins.lightslider.minIntensity">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('Any value sent which is below this value will be increased to meet this light intensity. Useful if you do not want to go below a certain brightness value.') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Maximum Brightness') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" max="100" class="input-mini" data-bind="attr: { title: maxTitle }, value: settings.plugins.lightslider.maxIntensity">
                    <span class="add-on">%</span>
                </div>
                <span class="help-block">{{ _('Any value sent which is above this value will be decreased to meet this light intensity. Useful if your light source is too strong on full intensity.') }}</span>
            </div>
        </div>
        <h3>{{ _('Notification Auto Hide Delay') }}</h3>
        <div class="control-group">
            <label class="control-label">{{ _('Notification Autohide Delay') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" class="input-mini" data-bind="attr: {title: noticeTitle }, value: settings.plugins.lightslider.notifyDelay">
                    <span class="add-on">ms</span>
                </div>
                <span class="help-block">{{ _('Delay (in milliseconds) before notifications are auto-hidden. Set to 0 to disable notifications.') }}</span>
            </div>
        </div>
    </form>
</div>